$bg: #24283b;
$nd: #1a1b26;
$fg: #a9b1d6;
$bl: #414868;
$gr: #9aa5ce;
$re: #f7768e;
$gr: #73daca;
$ye: #e0af68;
$bu: #7aa2f7;
$ma: #ff55ff;
$cy: #7dcfff;
$wh: $fg;

*{
  all: unset;
  font-family: "RictyDiminished with FiraCode";
}

.main_bar {
  background-color: $bg;
  color: $fg;
}

.color {
  background-color: $nd;
}

.module {
  padding: 1px;
  font-size: 1.2rem;
  border-color: $ma;
}

.ampm {
  margin-top: 10px;
  color: $bu;
}

.time {
  font-size: 1.2rem;
  color: $fg;
}

.weekday {
  font-size: 1.3rem;
  color: $bu;
}

.date {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.seperator {
  font-size: 1.2rem;
  color: $bl;
}

.icon {
  font-family: "MesloLGS NF";
  color: $cy;
  font-size: 2rem;
}

scale trough {
  all: unset;
  background-color: $bg;
  border-radius: 5px;
  min-height: 80px;
  min-width: 15px;
}

.brightbar trough highlight {
  border-radius: 5px;
  background-color: $cy;
}

.volumebar trough highlight {
  border-radius: 5px;
  background-color: $cy;
}

.workspaces {
  button {
    background: none;
    padding: 3;
    font-size: 1.3rem;
    color: $bl;
    &.occupied {
      color: $fg;
    }
    &.active {
      font-size: 1.5rem;
      color: $cy;
    }
  }
}
