$bg: #24283b;
$nd: #1a1b26;
$fg: #a9b1d6;
$bl: #414868;
$gr: #9aa5ce;
$re: #f7768e;
$gr: #73daca;
$ye: #e0af68;
$bu: #7aa2f7;
$ma: #8031ca;
$cy: #7dcfff;
$wh: $fg;

*{
  all: unset;
  font-family: "RictyDiminished with FiraCode";
}

.main-bar {
  background-color: $bg;
  color: $fg;
}

.status2 {
  background-color: $bg;
  color: $fg;
}

.status3 {
  background-color: $bg;
  color: $fg;
}

.segment-top {
  margin-top: 2px;
}

.segment-middle {}

.segment-bottom {
  margin-bottom: 2px;
}

.segment-left {
  margin-left: 2px;
}

.segment-right {
  margin-right: 2px;
}

.color {
  background-color: $nd;
}

.module {
  background-color: $nd;
  border: 0.8px solid $ma;
  margin: 1px 4px;
  padding: 1px;
  border-radius: 10px;
}

.icon-progress {
  font-size: 1.5rem;
  min-width: 40px;
  min-height: 40px;
  color: $cy;
}

.battery-progress {
  color: $ma;
  margin-top: 5px;
}

.cpu-progress {
  color: $re;
  margin-top: 5px;
}

.mem-progress {
  color: $gr;
  margin-top: 5px;
}

.disk-progress {
  color: $bl;
  margin-top: 5px;
}

.ampm {
  color: $bu;
  font-size: 1.3rem;
}

.time {
  font-size: 1.4rem;
  color: $fg;
}

.weekday {
  font-size: 1.3rem;
  color: $bu;
}

.date {
  font-size: 1.4rem;
}

.icon {
  font-family: "MesloLGS NF";
  color: $cy;
  font-size: 1.5rem;
}

.info {
  color: $cy;
  font-size: 1.15rem;
}

scale trough {
  all: unset;
  background-color: $bl;
  border-radius: 5px;
  min-height: 80px;
  min-width: 15px;
}

.brightbar trough highlight {
  border-radius: 5px;
  background-color: $cy;
}

.volumebar trough highlight {
  border-radius: 5px;
  background-color: $cy;
}

.workspaces {
  button {
    padding: 2px;
    color: $bl;
    &.occupied {
      color: $fg;
    }
    &.active {
      font-size: 1.2rem;
      color: $cy;
    }
  }
}
