$bg: #1a1b26;
$fg: #a9b1d6;
$bl: #414868;
$gr: #9aa5ce;
$re: #f7768e;
$gr: #73daca;
$ye: #e0af68;
$bl: #7aa2f7;
$ma: #bb9af7;
$cy: #7dcfff;
$wh: $fg;

*{
  all: unset;
  font-family: "MesloNGS NF";
}

.main_bar {
  background-color: $bg;
  color: $fg;
}

.workspaces {
  button {
    background: none;
    margin: 3px;
    padding-left: 1px;
    &.inactive {
      color: $fg;
    }
    &.active {
      background-color: $cy;
      color: $fg;
    }
    &.occupied {
      color: $cy;
    }
    &.empty {
      color: $fg;
      font-size: 0.8rem;
    }
  }
}
