$bg: #24283b;
$nd: #1a1b26;
$fg: #a9b1d6;
$bl: #414868;
$gr: #9aa5ce;
$re: #f7768e;
$gr: #73daca;
$ye: #e0af68;
$bu: #7aa2f7;
$ma: #8031ca;
$cy: #7dcfff;
$wh: $fg;

*{
  all: unset;
  font-family: "Lilex Nerd Font Mono Regular";
}

.main-bar, .status2, .status3 {
  background-color: rgba($bg, 0.8);
  color: $fg;
}

.segment-top, 
.segment-middle, 
.segment-bottom, 
.segment-left, 
.segment-right {} 

.color {
}

.module {
  border: 1px solid $ma;
  padding: 1px;
}

.icon-progress {
  font-family: "MaterialSymbolsSharp";
  font-size: 1.3rem;
  min-width: 30px;
  min-height: 30px;
  margin-top: 5px;
  color: $cy;
}

.inner-icon {
  @extend .icon-progress;
  margin-top: 0px;
}

.icon {
  font-family: "MaterialSymbolsSharp";
  color: $cy;
  font-size: 1.5rem;
}


.battery-progress {
  @extend .icon-progress;
  color: $ma;
}

.cpu-progress {
  @extend .icon-progress;
  color: $re;
}

.mem-progress {
  @extend .icon-progress;
  color: $gr;
}

.disk-progress {
  @extend .icon-progress;
  color: $bl;
}

.ampm {
  padding: 1px;
  color: $bu;
  font-size: 1.3rem;
}

.time, .date {
  padding: 1px;
  font-size: 1.4rem;
  color: $fg;
}

.weekday {
  padding: 1px;
  font-size: 1.3rem;
  color: $bu;
}

.info {
  color: $cy;
  font-size: 1.15rem;
}

scale trough {
  all: unset;
  background-color: rgba($bl, 0.4);
  border-radius: 5px;
  min-height: 80px;
  min-width: 15px;
}

.brightbar, .volumebar {
  trough highlight {
    border-radius: 5px;
    background-color: $cy;
  }
}

.workspaces {
  border: 1px solid $ma;
  font-size: 1.2rem;
  font-family: Ricty Diminished with Fira Code;
  button {
    padding: 2.5px;
    color: $bl;
    &.occupied {
      color: $fg;
    }
    &.active {
      font-size: 1.4rem;
      color: $cy;
    }
  }
}
