$default-bg: base00;
$alter-bg: base01;
$select-bg: base02;
$alter-txt: base04;
$default-txt: base05;
$base06: base06;
$base07: base07;
$red: base08;
$orange: base09;
$yellow: base0A;
$green: base0B;
$cyan: base0C;
$blue: base0D;
$purple: base0E;
$brown: base0F;
