$default-bg:  #24283B;
$alter-bg:    #16161E;
$select-bg:   #343A52;
$alter-txt:   #787C99;
$default-txt: #A9B1D6;
$base06:      #CBCCD1;
$base07:      #D5D6DB;
$red:         #C0CAF5;
$orange:      #A9B1D6;
$yellow:      #0DB9D7;
$green:       #9ECE6A;
$cyan:        #B4F9F8;
$blue:        #2AC3DE;
$purple:      #BB9AF7;
$brown:       #F7768E;

